elm-stuff/build-artifacts/*
elm-stuff/
elm.js
build/elm.js
build/bend
client_session_key.aes
./eHelper.elm
./e1Helper.elm
dist
cabal-dev
*.o
*.hi
*.chi
*.chs.h
*.dyn_o
*.dyn_hi
.hpc
.hsenv
.cabal-sandbox/
cabal.sandbox.config
*.prof
*.aux
*.hp
.stack-work/
